@import "../../global";

.mainPage {
    @include full-size;
    display: grid;
    grid-template-rows: auto 113px;
    gap: 5px;
    > * {
        @include full-size;
    }
    .contents {
        display: grid;
        grid-template-columns: 56px auto;
        gap: 18px;
        > .left {
            @include center;
            .image {
                @include full-size;
                background-image: url("../../assets/logo.png");
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        > .right {
            font-size: 0.9em;
            @include center;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .buttons {
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            > * {
                width: 5.87em;
                text-align: center;
            }
            width: 100%;
        }
        > .input {
            display: grid;
            grid-template-columns: 4.5em auto;
            align-items: center;
        }
    }
}
